body {
  color: black;
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

/* Navigation Bar */
.navbar {
  padding: 2.5rem 0 3.5rem;
  text-align: center;
}

/* spacing between links */
.nav-item {
  padding: 0 18px;
}

/* links styling */
.nav-link {
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  color: black;
}

.nav-link:hover {
  color: #8f8f8f;
}

/* Title Section */
.ttl-img {
  height: 15rem;
}

.quote {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
}


/* Buttons */
.bttn {
  font-family: 'VT323', monospace;
  color: white;
  background-color: black;
  border-radius: 0;
  margin: 5% 3% 5% 0;
}

.bttn:hover {
  color: black;
  background-color: white;
}

.ttl-bttn {
  border: 1px solid black;
}

.inverse {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.inverse:hover {
  color: white;
  background-color: black;
}

.clear, .clear:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

/* Title Section on mobile*/
/* @media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .ttl-img {
    position: static;
    transform: rotate(0);
  }
} */
